//
// App main styling
// ====================
//
//
@import 'variables'

html
  height $full-view-height
  width $full-view-width
.horejserv
  height $full-parent-height
  margin 0
  width $full-parent-width

  &-App
    height $full-parent-height
    margin 0
    width $full-parent-width

    &-content
      height $full-parent-height
      width $full-parent-width
    &-root
      height 97%
      position relative
      width $full-parent-width
  &-Input
    float left
    padding-right 25px
    width 25%

    &-content
      font $fira-mono-small
      width 100%
  &-Output
    float left
    padding-left 25px
    width 25%

    &-content
      font $fira-sans-large
      margin 0
  &-copyright
    margin auto
    text-align center
    width $parent-center + 5%

    &-content
      width $full-parent-width
  &-footer
    bottom 0
    height 3%
    margin 0 auto
    position relative
    width $full-parent-width

    &-content
      width $full-parent-width
